name: Daily Synchronization

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 */16 * * *'
  workflow_dispatch:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code into the Go module directory
        uses: actions/checkout@v2
      - name: GET Tools
        run: wget https://github.com/AliyunContainerService/image-syncer/releases/download/v1.3.0/image-syncer-v1.3.0-linux-amd64.tar.gz && tar -xzf image-syncer-v1.3.0-linux-amd64.tar.gz 

      - name: Synchronization
        env:
          AUTH: ${{ secrets.AUTH }}
        run: echo "$AUTH" > ./auth.json && .github/workflows/sync-full.sh